.transaction-flex{
  display: flex;
}
.payment,
.transfer {
  width: 100%;
  margin: 20px 20px;
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.payment-box,
.transfer-box{
  padding: 20px 20px;
}

.transaction-container {
  width: 49%;
  height: 240px;
  background-color: var(--primary-color);
  border-radius: 15px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow-y: auto;
}
.transaction-container h2 {
  color: var(--highlight-color);
}

/* Hide the scrollbar */
.transaction-container::-webkit-scrollbar {
  width: 0; 
}
.transaction {
  padding: 0px 20px;
}

.transaction-title {
  position: sticky; 
  top: 0; 
  background-color: var(--primary-color);
  padding: 10px 0; 
  z-index: 1; 
}

.transaction-list {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 15px;
}

.transaction-details {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-grow: 1; 
}

.circle {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.delete {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  border: 1px solid var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer; 
}

.delete p{
  color: var(--highlight-color);
  font-size: 1rem;
}
.delete:hover{
  background-color: rgba(222, 87, 87, 0.9);
}
.delete:hover p {
  color: white; 
}



.circle p {
  margin: 0; 
  color: var(--primary-color);
}

.center {
  text-align: center; 
}

.center p {
  margin: 10px;
}

.center a {
  margin: 10px;
  text-decoration: none; 
}


